{% extends "layout.html" %}

{% block content %}
<html ng-app="Inscription">

    <body>
        {% raw %}
        <h2>Inscription à votre e-todolist</h2>
        <form class="form-inline">
            <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Mot de passe</th>
                <th scope="col">Confirmation</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tr>
            <th scope="col">
                <input type="text" class="form-control" placeholder="Nom d'utilisateur" ng-model="insData.username">
            </th>
            <th scope="col">
                <input type="text" class="form-control" placeholder="Mot de passe" ng-model="insData.password">
            </th>
            <th scope="col">
                <input type="text" class="form-control" placeholder="Confirmation" ng-model="insData.passwordconf">
            </th>
            <th scope="col">
                <button type="button" class="btn btn-success mb-2" type="submit" ng-click="createUser()">S'incrire</button>
            </th>
            </tr>
            </table>
        </form>
        <div class="row">
                <div class="col-6">
                    <p color="red">{{response.text}}</p>
                </div>
            </div>
        {% endraw %}
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="/public/users/registration.js"></script>
    </body>
</html>
{% endblock %}